# Built files
.gradle/
build/
app/build/
*.apk
*.aar

# IDE & Editor files
.idea/
*.iml
captures/

# Local configuration & System files
local.properties
.externalNativeBuild
.cxx/
.DS_Store
Thumbs.db
*.log

# Temp images & Screenshots (opcional)
*.png
*.jpg